{% extends 'base.html' %}

 {% block content %}
 <div class="container mx-auto py-4">
    <h1>Hello, {{user}}!</h1>
    <div class="navbar-end flex-none py-4">
        <label for="my-modal" id="create-task-btn"class="btn btn-secondary" >Create Task</a>
    </div>
    {% if messages %}
    <ul class="msg py-4" id="alert">
    </ul>
    {% endif %}

    <!-- content task -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 py-4" id="task-card"></div>
    <!-- end content task -->

    <input type="checkbox" id="my-modal" class="modal-toggle" />
    <div class="modal" id="form-modal">
        <div class="modal-box">
          <label for="my-modal-3" id="closeBtn" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <div class="mx-auto container">         
                <h1 class="text-4xl font-bold text-center">Create Task</h1>
                <div class="rounded-lg p-4 flex flex-col gap-4 mx-auto bg-base-100">

                  <form method="POST">
                    {% csrf_token %}
                    <div class="flex flex-col gap-4">
                      <div class="form-control">
                        <label class="label">
                          <span class="label-text">Title</span>
                        </label>
                        <input type="text" placeholder="Title" name="title" id="title" class="input input-bordered" />
                      </div>
              
                      <div class="form-control">
                        <label class="label">
                          <span class="label-text">Description</span>
                        </label>
                        <textarea class="textarea textarea-bordered" name="description" id="description" placeholder="Description"></textarea>
                      </div>
              
                      <button class="btn btn-primary" type="submit" value="submit" id="createBtn">Create</button>
                    </div>
                  </form>

                </div>
              </div>
        </div>
    </div>
</div>

<script>
    function postNew(e) {
      $('.modal').show();
        e.preventDefault()
        const titleTask = $("#title").val()
        const descriptionTask = $("#description").val()
        const dateTask = $("#date").val()

        const data = {
            title: titleTask,
            description: descriptionTask,
            date: dateTask,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'todolist:add_task' %}",
            data: data, 
            success: () => {
                fetchData()
                $('#alert').append(
                  `
                  <div class="alert alert-success shadow-lg">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>Task Berhasil dibuat!</span>
                    </div>
                  </div>
                  `
                )
                $("#form-modal").hide();
            },
            dataType: 'json'
        });
    }

    function fetchData() {
        $.get('/todolist/json', function (todolist) {
            $('#task-card').empty()
            todolist.map((task) => {
                $('#task-card').append(
                    `
                    <div class="card w-108 bg-base-100 shadow-xl">
                    <div class="card-body">

                        <h2 class="card-title">${task.fields.title}</h2>
                        <p>${task.fields.description}</p>
                        <p>${task.fields.date}</p>

                        <div class="card-actions justify-end">
                        <form action="/todolist/update_ajax/${task.pk}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-secondary">
                            {% if task.is_finished %} Finished {% else %} Not Finished {% endif %}
                            </button>
                        </form>

                        <form action="/todolist/delete_ajax/${task.pk}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary">Delete</button>
                        </form>

                        </div>

                    </div>
                    </div>
                    `
                )
            })
        })
    }

    $(document).ready(function(){
        $("#createBtn").click(postNew)
        $("#closeBtn").click(() => {
            $('.modal').hide();
        })
        fetchData()
    });     
</script>


 {% endblock content %}

