{% extends 'base.html' %}

 {% block content %}
 <div class="container mx-auto">
  <h1>Hello, {{user}}!</h1>
   {% if messages %}
   <ul class="msg">
     {% for message in messages %}
     <div class="alert alert-success shadow-lg">
       <div>
         <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
         <span>{{message}}</span>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        {% for task in tasks %}
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="card-body">

            <h2 class="card-title">{{task.title}}</h2>
            <p>{{task.description}}</p>

            <div class="card-actions justify-end">
              <form action="{% url 'todolist:update' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary">
                  {% if task.is_finished %} Finished {% else %} Not Finished {% endif %}
                </button>
              </form>

              <form action="{% url 'todolist:delete' task.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary">Delete</button>
              </form>

            </div>

          </div>
        </div>
        {% endfor %}
      </div>
  </div>
 {% endblock content %}

